*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	background-color: hsl(30, 38%, 92%);
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.card {
	display: flex;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	&__img {
		background-image: url('/img/image-product-mobile.jpg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		border-top-right-radius: 10px;
		border-top-left-radius: 10px;
		min-height: 241px;
	}
	&__content {
		background-color: hsl(0, 0%, 100%);
		padding: 20px 20px;
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
		margin: 0 auto;
		width: 100%;
		max-width: 345px;
		&-type {
			color: hsl(228, 12%, 48%);
			text-transform: uppercase;
			letter-spacing: 5px;
			font-weight: 300;
			font-size: 12px;
		}
		&-title {
			color: hsl(212, 21%, 14%);
			padding: 14px 6px 0 0;
			font-family: 'Fraunces', serif;
			font-weight: bold;
			line-height: 32px;
			margin: 10px 0;
		}
		&-desc {
			color: hsl(228, 12%, 48%);
			padding: 10px 0;
			font-size: 14px;
			letter-spacing: 0.7px;
			line-height: 24px;
		}
	}
	&__price {
		display: flex;
		align-items: center;
		padding: 8px 0 0 0;
		&-main {
			color: hsl(158, 36%, 37%);
			font-family: 'Fraunces', serif;
			font-weight: bold;
			font-size: 32px;
		}
		&-old {
			color: hsl(228, 12%, 48%);
			margin-left: 20px;
			font-size: 14px;
			font-weight: lighter;
		}
	}
	&__button {
		width: 100%;
		height: 48px;
		color: hsl(0, 0%, 100%);
		background-color: hsl(158, 36%, 37%);
		font-size: 14px;
		margin-top: 16px;
		font-weight: bold;
		border: none;
		border-radius: 8px;
		cursor: pointer;
		&-svg {
			fill: hsl(0deg, 0%, 100%);
			margin-inline-end: 12px;
			vertical-align: top;
		}
	}
}
// @media (min-width: 550px) {
// 	.card {
// 		flex-direction: row;
// 		max-width: 600px;
// 		&__img {
// 			background-image: url('/img/image-product-desktop.jpg');
// 			background-size: cover;
// 			border-top-left-radius: 8px;
// 			border-bottom-left-radius: 8px;
// 			border-top-right-radius: 0;
// 			width: 100%;
// 		}
// 		&__content {
// 			padding: 36px;
// 			max-width: none;
// 			border-top-right-radius: 8px;
// 			border-bottom-right-radius: 8px;
// 			&-type {
// 				color: hsl(228, 12%, 48%);
// 				text-transform: uppercase;
// 				letter-spacing: 5px;
// 				font-weight: 300;
// 				font-size: 12px;
// 			}
// 			&__title {
// 				padding: 14px 6px 0 0;
// 				margin: 10px 0;
// 			}
// 			&-desc {
// 				line-height: 24px;
// 				letter-spacing: 1px;
// 			}
// 		}
// 		&__button {
// 			margin-top: 24px;
// 		}
// 	}
// }
